@charset "UTF-8";

body {
    background-color: rgba(39, 38, 4, 0.884);
    font: normal normal 13pt Arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.616);
}

section {
    width: 500px;
    height: 500px;
    background-color: white;
    margin: auto;
    border-radius: 18px;
    padding: 20px;
    line-height: 15pt;
    box-shadow: 3pt 3pt 4pt rgba(0, 0, 0, 0.445);
}

img {
   width: 400px;
   margin-top: 40px;
}

footer {
    text-align: center;
    font-style: italic;
    color: white;
}